In [1]:
import pandas as pd
import re

In [3]:
data=pd.read_csv("BA_reviews.csv")
data.head(5)

   Unnamed: 0                                            reviews
0           0  Not Verified |  We will never fly British Airw...
1           1  ✅ Trip Verified | Check in and security cleara...
2           2  Not Verified |  British Airways has confirmed ...
3           3  ✅ Trip Verified | Worst BA experience. I was s...
4           4  ✅ Trip Verified |  My daughter and I were deni...

In [4]:
data=data.drop_duplicates()

In [6]:
data=data.dropna()

In [7]:
def clean_text(text):
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Convert text to lowercase
    text = text.lower()
    return text

data['reviews'] = data['reviews'].apply(clean_text)

In [8]:
from nltk.tokenize import word_tokenize

data['reviews'] = data['reviews'].apply(word_tokenize)

In [9]:
print(data.head())

   Unnamed: 0                                            reviews
0           0  [not, verified, we, will, never, fly, british,...
1           1  [trip, verified, check, in, and, security, cle...
2           2  [not, verified, british, airways, has, confirm...
3           3  [trip, verified, worst, ba, experience, i, was...
4           4  [trip, verified, my, daughter, and, i, were, d...

In [10]:
print(data.describe())

        Unnamed: 0
count  1000.000000
mean    499.500000
std     288.819436
min       0.000000
25%     249.750000
50%     499.500000
75%     749.250000
max     999.000000

In [18]:
import matplotlib.pyplot as plt

In [25]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [26]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\18137\AppData\Roaming\nltk_data...

True

NameError: name 'df' is not defined